<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src ="/javascript/jquery.js"></script>

    <meta charset="utf-8">
    <title>Labyrinths</title>

  </head>

  <body>

    <h1>LABYRINTHS</h1>

    <form method="get" action="/library">
      <button type="submit">The Library of Babel</button>
    </form>
    <form method="get" action="/library">
      <button type="submit">The Lottery in Babylon</button>
    </form>
  </body>

</html>
