<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/librarystyles.css">
    <script type="text/javascript" src ="/javascript/jquery.js"></script>
    <script type="text/javascript" src ="/javascript/page.js"></script>
    <script type="text/javascript" src ="/javascript/book.js"></script>
    <script type="text/javascript" src ="/javascript/shelf.js"></script>
    <script type="text/javascript" src ="/javascript/hexagon.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
    <meta charset="utf-8">

  <title>The Library of Babel</title>

  </head>

  <body>

  <h2>Select one of the 32 books:</h2>

  <input class="bookinput" id="bookinput" type="number" value="">
  </input>
    <button id="submitbook" type="button">Submit</button>

    <div class="nav">
      <button id="back" class="pagebuttons" type="button" name="back"><</button>
      <button id="forward" class="pagebuttons" type="button" name="forward">></button>
    </div>

  <h1><span id=booktitle></span></h1>

  <img class="book" src="../images/bookbackground.png" alt="book">

  <div class="page1container">
    <p id="page1"></p>
  </div>

  <div class="page2container">
    <p id="page2"></p>
  </div>

  </body>
</html>
