<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/librarystyles.css">
    <script type="text/javascript" src ="/javascript/jquery.js"></script>
    <script type="text/javascript" src ="/javascript/page.js"></script>
    <script type="text/javascript" src ="/javascript/book.js"></script>
    <script type="text/javascript" src ="/javascript/shelf.js"></script>
    <script type="text/javascript" src ="/javascript/hexagon.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
    <meta charset="utf-8">

  <title>The Library of Babel</title>

  </head>

  <h1>The Library of Babel</h1>

  <div class="page1container">
    <p id="page1"></p>
  </div>

  <div class="page2container">
    <p id="page2"></p>
  </div>

  <body>

  </body>
</html>
