@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Cabin+Sketch|Fredericka+the+Great|Josefin+Slab|Open+Sans');

html {
  background: linear-gradient(darkslategray, #1c3438);
  height: 100vh;
}

h1 {
  text-align: center;
  color: floralwhite;
  font-family: 'Josefin Slab';
}

h2 {
    text-align: left;
    color: floralwhite;
    font-family: 'Josefin Slab';
    font-size: 20px;
}

.pageinput {
  width: 35px;
}

p {
  font-size: 12px;
  color: floralwhite;
  font-family: 'Open Sans';
}

.page1container {
  width: 45vw;
  margin-left: 20px;
  float: left;
}

.page2container {
  width: 45vw;
  margin-right: 20px;
  float: right;
}
